---
# tasks file for pd

- name: create deploy directories
  file: path={{ item }} state=directory mode=0755
  with_items:
  - "{{ pd_log_dir }}"
  - "{{ pd_conf_dir }}"
  - "{{ pd_data_dir }}"

- include: check_certs.yml
  when: enable_tls

- include: gen_certs.yml
  when: enable_tls

- include: install_certs.yml
  when: enable_tls

- name: load customized config
  include_vars: file={{ playbook_dir }}/conf/pd.yml name=pd_conf_custom

- name: load default config
  include_vars: file=default.yml name=pd_conf_default

- name: generate metrics config
  set_fact:
    pd_conf_generated:
      metric:
        address: >-
          {{ hostvars[groups.monitoring_servers[0]].ansible_host | default(hostvars[groups.monitoring_servers[0]].inventory_hostname) ~ ':' ~
           (hostvars.get(groups.monitoring_servers[0]).pushgateway_port | default('9091')) |
            default('') }}
      replication:
        location-labels: "{{ location_labels }}"

- name: generate final config
  set_fact:
    pd_conf: "{{ pd_conf_custom | with_default_dicts(pd_conf_generated, pd_conf_default) }}"

- debug: var=pd_conf

- name: create configuration file
  template: src=pd.toml.j2 dest={{ deploy_dir }}/conf/pd.toml mode=0644 backup=yes
  register: pd_conf_st

- name: backup conf file
  command: mv "{{ pd_conf_st.backup_file }}" "{{ backup_dir }}"
  when: pd_conf_st.changed and pd_conf_st.backup_file is defined

- include: "{{ deployment_method }}_deployment.yml"

- name: prepare firewalld white list
  set_fact:
    firewalld_ports: "{{ [pd_peer_port ~ '/tcp', pd_client_port ~ '/tcp'] + firewalld_ports }}"
