#!/bin/bash
set -e

DEPLOY_USER={{ deploy_user }}
STATUS_DIR={{ role_status_dir }}
DEPLOY_DIR={{ deploy_dir }}
ROLE_NAME={{ this_role_name }}

cd "${DEPLOY_DIR}" || exit 1

# try down
bin/svc -d "${STATUS_DIR}" &>/dev/null || true

# check by svstat
_check=$(bin/svstat "${STATUS_DIR}" 2>/dev/null)
if echo "${_check}" | grep 'up pid' &>/dev/null; then
    _pid=$(echo "${_check}" | cut -d' ' -f 4 | cut -d',' -f 1)
    if [ `ps aux |grep ${_pid} | grep ${ROLE_NAME} | wc -l` -eq 1 ]; then
        kill ${_pid}
    fi
fi

# stop supervise
_superpid=`cat ${STATUS_DIR}/pid`
if [ `ps aux | grep ${_superpid} | grep "supervise" | grep "${DEPLOY_DIR}" | wc -l` -eq 1 ];then
    kill -9 ${_superpid}
fi

echo -n "sync ... "; sync; echo "done!"
echo "ok: stopped!"
