---
# default configuration file for pd in yaml format

global:
  # name: "pd"
  # data-dir: "default.pd"
  #
  # client-urls: "http://127.0.0.1:2379"
  # # if not set, use ${client-urls}
  # advertise-client-urls: ""
  #
  # peer-urls: "http://127.0.0.1:2380"
  # # if not set, use ${peer-urls}
  # advertise-peer-urls: ""
  #
  # initial-cluster: "pd=http://127.0.0.1:2380"
  # initial-cluster-state: "new"

  lease: 3
  tso-save-interval: "3s"

security:

log:
  level: "info"

  # file logging
  file:
    #filename: ""
    # max log file size in MB
    #max-size: 300
    # max log file keep days
    #max-days: 28
    # maximum number of old log files to retain
    #max-backups: 7
    # rotate log by day
    #log-rotate: true

metric:

schedule:
  split-merge-interval: "1h"
  max-snapshot-count: 3
  max-pending-peer-count: 16
  max-store-down-time: "30m"
  leader-schedule-limit: 4
  region-schedule-limit: 64
  replica-schedule-limit: 64
  merge-schedule-limit: 8
  enable-one-way-merge: false

replication:
  # The number of replicas for each region.
  max-replicas: 3
  # The label keys specified the location of a store.
  # The placement priorities is implied by the order of label keys.
  # For example, ["zone", "rack"] means that we should place replicas to
  # different zones first, then to different racks if we don't have enough zones.
  location-labels: []
