---

- name: check tidb config path
  set_fact:
    tidb_conf_dir: "{{ deploy_dir }}/conf"
  when: tidb_conf_dir is undefined

- name: check tidb config directory
  stat: path={{ tidb_conf_dir }} get_md5=false get_checksum=false
  register: conf_dir_st

- fail:
    msg: "{{ tidb_conf_dir }} must exist and is a directory"
  when: conf_dir_st.stat.isdir is not defined or conf_dir_st.stat.isdir == False

- name: collect tidb config
  shell: "python {{ collector_dir }}/scripts/tidb-insight/insight.py --output={{ tidb_log_dir }} --alias=tidb_{{ inventory_hostname }} config --dir={{ tidb_conf_dir }} --prefix=tidb"
