---
# default configuration file for pd in yaml format

server:
  # schema lease duration, very dangerous to change only if you know what you do (default "1")
  lease: 1

  # if enable performance schema
  #perfschema: true

  # if enable privilege check feature
  #privilege: false

  # the maximum number of retries when commit a transaction (default 10)
  #retry-limit: 10

  # whether support cartesian product or not. (default true)
  #cross-join: true

  # whether we do cost-based optimization with statistic info or not.
  #enable-statistic: false

  # the number of goroutines that participate in joining. (default 5)
  #join-concurrency: 5

  # run ddl worker on this tidb-server (default true)
  #run-ddl: true

  # start without using the privilege system at all
  #skip-grant-table: false
