[tidb_servers]
192.168.0.2

[tikv_servers]
192.168.0.3
192.168.0.4
192.168.0.5

[pd_servers]
192.168.0.6
192.168.0.7
192.168.0.8

[monitoring_servers]
192.168.0.2

[monitored_servers:children]
tidb_servers
tikv_servers
pd_servers

[all:vars]
# ssh via root:
# ansible_user = root
# ansible_become = true
# ansible_become_user = tidb

# ssh via normal user
ansible_user = tidb
