[tidb_servers]
{% if groups.tidb_servers is defined %}
{% for item in groups.tidb_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[tikv_servers]
{% if groups.tikv_servers is defined %}
{% for item in groups.tikv_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[pd_servers]
{% if groups.pd_servers is defined %}
{% for item in groups.pd_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[monitoring_servers]
{% if groups.monitoring_servers is defined %}
{% for item in groups.monitoring_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[grafana_servers]
{% if groups.monitoring_servers is defined %}
{% for item in groups.monitoring_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[monitored_servers]
{% if groups.monitored_servers is defined %}
{% for item in groups.monitored_servers -%}
{{ item }}
{% endfor %}
{% endif %}

[all:vars]
ansible_user = ubuntu

cluster_name = {{ creator }}-cluster
