[tidb_servers]
{% for item in groups.tidb_servers -%}
{{ item }}
{% endfor %}

[tikv_servers]
{% for item in groups.tikv_servers -%}
{{ item }}
{% endfor %}

[pd_servers]
{% for item in groups.pd_servers -%}
{{ item }}
{% endfor %}

[monitoring_servers]
{% for item in groups.monitoring_servers -%}
{{ item }}
{% endfor %}

[grafana_servers]
{% for item in groups.monitoring_servers -%}
{{ item }}
{% endfor %}

[monitored_servers]
{% for item in groups.monitored_servers -%}
{{ item }}
{% endfor %}

[all:vars]
ansible_user = ubuntu
