#!/bin/bash
set -e
ulimit -n 1000000
cd "{{ deploy_dir }}" || exit 1

export RUST_BACKTRACE=1

export TZ={{ timezone }}

echo -n 'sync ... '
stat=$(time sync)
echo ok
echo $stat

if [ `ps aux |grep tidb-lightning |grep $(cat status/tidb-lightning.pid) |wc -l` -eq 1 ];then
	kill `cat status/tidb-lightning.pid`
fi
