# lightning Configuration

{% set all_pd = [] -%}
{% set pd_host = groups.pd_servers[0] -%}
{% set pd_ip = hostvars[pd_host].ansible_host | default(hostvars[pd_host].inventory_hostname) -%}
{% set pd_port = hostvars[pd_host].pd_client_port -%}
{% set _ = all_pd.append("%s:%s" % (pd_ip, pd_port)) -%}

[lightning]
{% for item, value in tidb_lightning_conf.lightning | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[checkpoint]
{% for item, value in tidb_lightning_conf.checkpoint | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[tikv-importer]
{% for item, value in tidb_lightning_conf.tikv_importer | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[mydumper]
{% for item, value in tidb_lightning_conf.mydumper | dictsort -%}
{% if item != 'csv' -%}
{{ item }} = {{ value | to_json }}
{% endif -%}
{% endfor %}

{% if tidb_lightning_conf.mydumper.csv -%}
[mydumper.csv]
{% for item, value in tidb_lightning_conf.mydumper.csv | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}
{% endif -%}

[tidb]
{% for item, value in tidb_lightning_conf.tidb | dictsort -%}
{% if item == "port" or item == "status-port" %}
{{ item }} = {{ value | int }}
{% else %}
{{ item }} = {{ value | to_json }}
{% endif %}
{% endfor %}
pd-addr = "{{ all_pd |join(',') }}"

[post-restore]
{% for item, value in tidb_lightning_conf.post_restore | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[cron]
{% for item, value in tidb_lightning_conf.cron | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}
