---

[quotas]
{% for item, value in tiflash_user_conf.quotas | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ item }} = {{ value | to_json }}
{% else %}

[quotas.{{ item }}]
{% for sub_item, sub_value in value | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ sub_item }} = {{ sub_value | to_json }}
{% else %}

[quotas.{{ item }}.{{ sub_item }}]
{% for sub_sub_item, sub_sub_value in sub_value | dictsort -%}
{{ sub_sub_item }} = {{ sub_sub_value | to_json }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

[users]
{% for item, value in tiflash_user_conf.users | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ item }} = {{ value | to_json }}
{% else %}

[users.{{ item }}]
{% for sub_item, sub_value in value | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ sub_item }} = {{ sub_value | to_json }}
{% else %}

[users.{{ item }}.{{ sub_item }}]
{% for sub_sub_item, sub_sub_value in sub_value | dictsort -%}
{{ sub_sub_item }} = {{ sub_sub_value | to_json }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

[profiles]
{% for item, value in tiflash_user_conf.flash | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ item }} = {{ value | to_json }}
{% else %}

[profiles.{{ item }}]
{% for sub_item, sub_value in value | dictsort -%}
{{ sub_item }} = {{ sub_value | to_json }}
{% endfor %}
{% endif %}
{% endfor %}
