[Unit]
Description=TiKV Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
LimitNOFILE=1000000
ExecStart={{ deploy_dir }}/scripts/run_tikv.sh
Restart=on-failure
User={{ deploy_user }}

[Install]
WantedBy=multi-user.target
