# TiKV config template
#  Human-readable big numbers:
#   File size(based on byte): KB, MB, GB, TB, PB (or lowercase)
#    e.g.: 1_048_576 = "1MB"
#   Time(based on ms): ms, s, m, h
#    e.g.: 78_000 = "1.3m"

[server]
{% for item, value in tikv_conf.server | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[pd]
# This section will be overwritten by command line parameters
{% for item, value in tikv_conf.pd | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[metric]
{% for item, value in tikv_conf.metric | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[raftstore]
{% for item, value in tikv_conf.raftstore | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[rocksdb]
{% for item, value in tikv_conf.rocksdb | dictsort(false, by='value') -%}
{% if value is not mapping -%}
{{ item }} = {{ value | to_json}}
{% else %}

[rocksdb.{{ item }}]
{% for sub_item, sub_value in value | dictsort -%}
{{ sub_item }} = {{ sub_value | to_json }}
{% endfor %}
{% endif%}
{% endfor %}

[storage]
{% for item, value in tikv_conf.storage | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}
