---

- name: download other binary
  get_url: url={{ item.url }} dest={{ downloads_dir }}/{{ item.name }}-{{ item.version }}.tar.gz validate_certs=no
  with_items: "{{ third_party_packages }}"
  when: has_outbound_network and not under_gfw

- name: download other binary under gfw
  get_url: url={{ item.url }} dest={{ downloads_dir }}/{{ item.name }}-{{ item.version }}.tar.gz validate_certs=no
  with_items: "{{ third_party_packages_under_gfw }}"
  when: has_outbound_network and under_gfw

- name: download TiSpark packages
  get_url: url={{ item.url }} dest={{ downloads_dir }}/{{ item.name }} force=yes validate_certs=no
  with_items: "{{ tispark_packages }}"
  when: has_outbound_network

- name: unarchive third party binary
  shell: ls -1 {{ item.name }}-{{ item.version }}.tar.gz | xargs -n1 tar xzf
  args:
    chdir: "{{ downloads_dir }}"
    warn: no
  with_items: "{{ third_party_packages }}"

- name: unarchive tispark-sample-data
  shell: ls -1 tispark-sample-data.tar.gz | xargs -n1 tar xzf
  args:
    chdir: "{{ downloads_dir }}"
    warn: no

- name: cp monitoring binary
  shell: >
    cp -v {{ downloads_dir }}/{{ item }}-*/{{ item }} "{{ resources_dir }}/bin/{{ item }}"
  with_items:
    - alertmanager
    - prometheus
    - node_exporter
    - pushgateway
    - blackbox_exporter

- name: cp tispark-sample-data
  shell: >
    cp -rfv {{ downloads_dir }}/tispark-sample-data "{{ resources_dir }}/bin/"
