#!/bin/bash
set -e

{% set all_pd = [] -%}
{% set pd_hosts = groups.pd_servers %}
{% for host in pd_hosts -%}
  {% set pd_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}
  {% set pd_port = hostvars[host].pd_client_port -%}
  {% set pd_path = hostvars[host].deploy_dir -%}
  {% set _ = all_pd.append("%s:%s%s" % (pd_ip, pd_port, pd_path)) -%}
{% endfor -%}
{% set all_grafana = [] -%}
{% set grafana_hosts = groups.grafana_servers %}
{% for host in grafana_hosts -%}
  {% set grafana_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}
  {% set grafana_port = hostvars[host].grafana_port -%}
  {% set grafana_path = hostvars[host].deploy_dir -%}
  {% set _ = all_grafana.append("%s:%s%s" % (grafana_ip, grafana_port, grafana_path)) -%}
{% endfor -%}
{% set all_alertmanager = [] -%}
{% set alertmanager_hosts = groups.alertmanager_servers %}
{% for host in alertmanager_hosts -%}
  {% set alertmanager_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}
  {% set alertmanager_port = hostvars[host].alertmanager_port -%}
  {% set alertmanager_path = hostvars[host].deploy_dir -%}
  {% set _ = all_alertmanager.append("%s:%s%s" % (alertmanager_ip, alertmanager_port, alertmanager_path)) -%}
{% endfor -%}
{% set all_prometheus = [] -%}
{% set prometheus_hosts = groups.monitoring_servers %}
{% for host in prometheus_hosts -%}
  {% set prometheus_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}
  {% set prometheus_port = hostvars[host].prometheus_port -%}
  {% set prometheus_path = hostvars[host].deploy_dir -%}
  {% set _ = all_prometheus.append("%s:%s%s" % (prometheus_ip, prometheus_port, prometheus_path)) -%}
{% endfor -%}
{% set flag = "" %}
{% if all_grafana -%}
  {% set flag = flag + " --grafana " + ','.join(all_grafana) -%}
{% endif -%}
{% if all_alertmanager -%}
  {% set flag = flag + " --alertmanager " + ','.join(all_alertmanager) -%}
{% endif -%}
{% if all_prometheus %}
  {% set flag = flag + " --prometheus " + ','.join(all_prometheus) -%}
{% endif -%}

{% if enable_tls|default(false) %}
  {% set flag = flag + " --cacert_file %s/ca.pem --cert_file %s/client.pem --key_file %s/client-key.pem" %(cert_dir, cert_dir, cert_dir) -%}
{% endif %}

python2 dashboard_topo.py --pd {{ all_pd | join(',') }} {{ flag }}
