---
- name: Assures addons dir exists
  file: path={{ kube_addons_dir }} state=directory

- name: Make sure the system services namespace exists
  copy:
    src=common/namespace.yaml
    dest="{{ kube_config_dir }}/addons/namespace.yaml"

- include: dns.yml
  when: dns_setup

- include: cluster-monitoring.yml
  when: cluster_monitoring

- include: cluster-logging.yml
  when: cluster_logging

- include: kube-ui.yml
  when: kube_ui

- name: Get kube-addons script from Kubernetes
  copy:
    src=common/kube-addons.sh
    dest={{ kube_script_dir }}/kube-addons.sh mode=0755
  notify:
    - restart kube-addons

- name: Get kube-addon-update script from Kubernetes
  copy:
    src=common/kube-addon-update.sh
    dest={{ kube_script_dir }}/kube-addon-update.sh mode=0755
  notify:
    - restart kube-addons

- name: Run kube-gen-token script to create {{ kube_token_dir }}/known_tokens.csv
  command: "{{ kube_script_dir }}/kube-gen-token.sh {{ item }}"
  environment:
    TOKEN_DIR: "{{ kube_token_dir }}"
  with_items:
    - "system:dns"
    - "system:monitoring"
    - "system:logging"
  register: gentoken
  changed_when: "'Added' in gentoken.stdout"
  notify:
    - restart apiserver
    - restart kube-addons

- name: Install kube-addons service
  template: src=kube-addons.service.j2 dest=/etc/systemd/system/kube-addons.service
  notify:
    - reload and restart kube-addons
  when: init_system == "systemd"

- name: Install kube-addons upstart configuration
  template: src=kube-addons.upstart.j2 dest=/etc/init/kube-addons.conf
  when: init_system == "upstart"

- name: Enable and start kube addons
  service: name=kube-addons enabled=yes state=started
