#!/bin/bash
set -e

{% set all_pd = [] -%}
{% set pd_hosts = groups.pd_servers %}
{% for host in pd_hosts -%}
  {% set pd_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}
  {% set pd_port = hostvars[host].pd_client_port -%}
  {% set _ = all_pd.append("%s:%s" % (pd_ip, pd_port)) -%}
{% endfor -%}

{% set my_ip = hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) -%}

python2 delete_tidb_topo.py --pd {{ all_pd | join(',') }} --tidb {{ my_ip }}:{{ tidb_port }}
