---
# tasks file for tidb

- name: create deploy directories
  file: path="{{ item }}" state=directory mode=0755
  with_items:
  - "{{ tidb_log_dir }}"
  - "{{ deploy_dir }}/status/{{ role_name }}"

- name: deply binary
  copy: src="{{ resources_dir }}/bin/tidb-server" dest="{{ deploy_dir }}/bin/" mode=0755 backup=yes
  register: tidb_binary

- name: backup binary file
  command: mv "{{ tidb_binary.backup_file }}" "{{ backup_dir }}"
  when: tidb_binary.changed and tidb_binary.backup_file is defined

- name: create scripts
  include_role:
    name: scripts
  vars:
    this_role_name: tidb

- name: create run script
  template:
    src: "{{ item }}_{{ role_name }}.sh.j2"
    dest: "{{ deploy_dir }}/scripts/{{ item }}_{{ role_name }}.sh"
    mode: "0755"
    backup: yes
  with_items:
    - run
  vars:
    role_status_dir: status/{{ role_name }}

- name: prepare firewalld white list
  set_fact:
    firewalld_ports: "{{ [tidb_port ~ '/tcp', tidb_status_port ~ '/tcp'] + firewalld_ports }}"
  when: has_firewalld
