---
# Common Tasks

- name: Ensure only one monitoring host exists
  fail: msg="One monitoring host should be specified."
  when: groups['monitoring_servers'] | length != 1

- name: Ensure monitored_servers exists
  fail: msg="monitored_servers should be specified."
  when: groups['monitored_servers'] | length < 1

- name: Ensure TiDB host exists
  fail: msg="No tidb host is specified. This cluster will run into a RawKV mode."
  when:
    - groups['tidb_servers'] | length < 1
    - deploy_without_tidb is defined
    - "not deploy_without_tidb"

- name: Ensure zookeeper address of kafka cluster is set when enable_binlog
  fail: msg="Please set zookeeper_addrs variable in inventory.ini when enable_binlog."
  when:
    - enable_binlog|default(false)
    - zookeeper_addrs is defined
    - zookeeper_addrs == ""

- name: Ensure PD host exists
  fail: msg="One, or more pd hosts should be specified."
  when: groups['pd_servers'] | length < 1

- name: Ensure TiKV host exists
  fail: msg="One, or more tikv hosts should be specified."
  when: groups['tikv_servers'] | length < 1

- name: Check ansible_user variable
  fail: msg="ansible_user == 'root' is not supported, please ssh via normal user"
  when: ansible_user == 'root'

- name: Close old SSH control master processes
  raw: ps aux | grep ansible-ssh | grep -v grep | awk '{print $2}' | xargs kill -9 ; true
  ignore_errors: true
  changed_when: false
