---
- name: create check_tikv.sh script
  template:
    src: "check_tikv.sh.j2"
    dest: "{{ playbook_dir }}/scripts/check_tikv.sh"
    mode: "0755"

- name: create pd-ctl.sh script
  template:
    src: "pd-ctl.sh.j2"
    dest: "{{ playbook_dir }}/scripts/pd-ctl.sh"
    mode: "0755"
