---

- include: root_tasks.yml
  static: no
  become: false
  become_user: root
  when:
    - ansible_user == 'root'
  vars:
    - ansible_become: false
    - ansible_become_user: root

- include: root_tasks.yml
  static: no
  become: true
  when:
    - ansible_user != 'root'
