# importer Configuration

{% for item, value in tikv_importer_conf.global | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[server]
{% for item, value in tikv_importer_conf.server | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}

[metric]
{% for item, value in tikv_importer_conf.metric | dictsort -%}
{{ item }} = {{ value | to_json}}
{% endfor %}

[rocksdb]
{% for item, value in tikv_importer_conf.rocksdb | dictsort_by_value_type -%}
{% if value is not mapping -%}
{{ item }} = {{ value | to_json}}
{% else %}

[rocksdb.{{ item }}]
{% for sub_item, sub_value in value | dictsort -%}
{{ sub_item }} = {{ sub_value | to_json }}
{% endfor %}
{% endif %}
{% endfor %}

[import]
{% for item, value in tikv_importer_conf.import | dictsort -%}
{{ item }} = {{ value | to_json }}
{% endfor %}
