apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: kube-system
  labels:
    k8s-app: alertmanager-monitoring
    version: v0.5.1
    kubernetes.io/cluster-service: "true"
data:
  prometheus.yml: |
    global:
      slack_api_url: "https:www.slack.com"
    # route:
    #   receiver: ""
    #   group_wait: 30s
    #   group_interval: 1m
    #   repeat_interval: 1m
    # receivers:
    # - name: "xxx"
    #   slack_configs:
    #   - channel: "monitor"
