apiVersion: v1
kind: ReplicationController
metadata:
  name: alertmanager-monitoring
  namespace: kube-system
  labels:
    k8s-app: alertmanager-monitoring
    version: v0.5.1
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: alertmanager-monitoring
    version: v0.5.1
  template:
    metadata:
      labels:
        k8s-app: alertmanager-monitoring
        version: v0.5.1
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - name: alertmanager-monitoring
        image: prom/alertmanager:v0.5.1
        resources:
          limits:
            cpu: 100m
          requests:
            cpu: 100m
        ports:
        - name: ui
          containerPort: 9093
          protocol: TCP
        volumeMounts:
        - mountPath: "/alertmanager.yml"
          name: config-volume
      volumes:
        - configMap:
            name: alertmanager-config
          name: config-volume
