apiVersion: v1
kind: ReplicationController
metadata:
  name: grafana-monitoring-v3
  namespace: kube-system
  labels:
    k8s-app: grafana
    version: v3
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: grafana-monitoring
    version: v3
  template:
    metadata:
      labels:
        k8s-app: grafana-monitoring
        version: v3
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:3.1.1
        ports:
        - containerPort: 3000
          name: ui
          protocol: TCP
        volumeMounts:
        - mountPath: "/etc/grafana"
          name: config-volume
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 300m
            memory: 200Mi
      volumes:
        - configMap:
            name: grafana-config
          name: config-volume
