apiVersion: v1
kind: Service
metadata:
  name: grafana-monitoring
  namespace: kube-system
  labels:
    k8s-app: grafana-monitoring
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "Grafana"
spec:
  selector:
    k8s-app: grafana-monitoring
  ports:
    - port: 3000
      protocol: TCP
      targetPort: ui
