apiVersion: v1
kind: ReplicationController
metadata:
  name: prometheus-monitoring-v1
  namespace: kube-system
  labels:
    k8s-app: prometheus-monitoring
    version: v1
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: prometheus-monitoring
    version: v1
  template:
    metadata:
      labels:
        k8s-app: prometheus-monitoring
        version: v1
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - image: prom/prometheus:v1.3.1
        name: prometheus-monitoring
        command:
        - "/bin/prometheus"
        args:
        - "-config.file=/etc/prometheus/prometheus.yml"
        - "-storage.local.path=/prometheus"
        - "-storage.local.retention=24h"
        - "-web.external-url=http://{{ groups['masters'][0] }}:8080/api/v1/proxy/namespaces/kube-system/services/prometheus-monitoring"
        - "-web.route-prefix=/"
        ports:
        - containerPort: 9090
          name: tsdb
          protocol: TCP
        volumeMounts:
        - mountPath: "/prometheus"
          name: data
        - mountPath: "/etc/prometheus"
          name: config-volume
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 2500Mi
      volumes:
      - emptyDir: {}
        name: data
      - configMap:
          name: prometheus-config
        name: config-volume
