apiVersion: v1
kind: Service
metadata:
  name: prometheus-monitoring
  namespace: kube-system
  labels:
    k8s-app: prometheus-monitoring
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "Prometheus"
  annotations:
    prometheus.io/scrape: 'true'
spec:
  ports:
  - port: 9090
    protocol: TCP
    targetPort: tsdb
  selector:
    k8s-app: prometheus-monitoring
