---

- targets:
{% set target_hosts = [] -%}
{% for host in hosts -%}
{% set ip = hostvars[host]['ansible_default_ipv4']['address'] or host -%}
{% set node_port = hostvars[host]['node_exporter_port'] -%}
{% if ip not in target_hosts %}
    - '{{ ip }}:{{ node_port }}'
{% set _ = target_hosts.append(ip) -%}
{% endif -%}
{% endfor %}
  labels:
    job: '{{ job_name }}'