#!/bin/bash

ulimit -n 40960

cd "{{ deploy_dir }}" || exit 1

nohup bin/supervise "{{ prometheus_status_dir }}" \
      bin/prometheus \
      --config.file="{{ deploy_dir }}/conf/prometheus.yml" \
      --web.listen-address=":{{ prometheus_port }}" \
      --log.level="{{ prometheus_log_level }}" \
      --storage.local.path="{{ prometheus_data_dir }}" \
      >"{{ prometheus_log_dir }}/{{ prometheus_log_filename }}" 2>&1 &
