#!/bin/bash

{% set status_dir = prometheus_status_dir -%}

cd "{{ deploy_dir }}" || exit 1

# try down
bin/svc -d "{{ status_dir }}" &>/dev/null || true

# check by supervise pid
if [ -e "{{ status_dir }}/pid" ]; then
    _pid=$(cat "{{ status_dir }}/pid")
    if [ "$(basename "$(readlink /proc/${_pid}/exe)")" == "supervise" ]; then
        kill ${_pid}
        rm -f "{{ status_dir}}/*"
    fi
fi

# check by svstat
_check=$(bin/svstat "{{ status_dir }}" 2>/dev/null)
if echo "${_check}" | grep 'up pid' &>/dev/null; then
    _pid=$(echo "${_check}" | cut -d' ' -f 4)
    if [ "$(readlink /proc/${_pid}/cwd)" == "{{ deploy_dir }}" ]; then
        kill ${_pid}
    fi
fi

echo "ok: stopped!"
