---

third_party_packages:
  - name: fio
    version: 2.16
    url: "https://download.pingcap.org/fio-2.16.tar.gz"

third_party_images:
  - name: prom/node-exporter
    tag: v0.14.0
    service: node-exporter
  - name: prom/prometheus
    tag: v1.5.2
    service: prometheus
  - name: prom/pushgateway
    tag: v0.3.1
    service: pushgateway
  - name: grafana/grafana
    tag: 4.1.2
    service: grafana
