---

third_party_packages:
  - name: prometheus
    version: 2.2.1
    url: "https://github.com/prometheus/prometheus/releases/download/v2.2.1/prometheus-2.2.1.linux-amd64.tar.gz"
  - name: alertmanager
    version: 0.14.0
    url: "https://github.com/prometheus/alertmanager/releases/download/v0.14.0/alertmanager-0.14.0.linux-amd64.tar.gz"
  - name: node_exporter
    version: 0.15.2
    url: "https://github.com/prometheus/node_exporter/releases/download/v0.15.2/node_exporter-0.15.2.linux-amd64.tar.gz"
  - name: blackbox_exporter
    version: 0.12.0
    url: "https://github.com/prometheus/blackbox_exporter/releases/download/v0.12.0/blackbox_exporter-0.12.0.linux-amd64.tar.gz"
  - name: pushgateway
    version: 0.4.0
    url: "https://github.com/prometheus/pushgateway/releases/download/v0.4.0/pushgateway-0.4.0.linux-amd64.tar.gz"
  - name: grafana
    version: 4.6.3
    url: "https://s3-us-west-2.amazonaws.com/grafana-releases/release/grafana-4.6.3.linux-x64.tar.gz"


third_party_packages_under_outbound:
  - name: prometheus
    version: 2.2.1
    url: "http://download.pingcap.org/prometheus-2.2.1.linux-amd64.tar.gz"
  - name: alertmanager
    version: 0.14.0
    url: "http://download.pingcap.org/alertmanager-0.14.0.linux-amd64.tar.gz"
  - name: node_exporter
    version: 0.15.2
    url: "http://download.pingcap.org/node_exporter-0.15.2.linux-amd64.tar.gz"
  - name: pushgateway
    version: 0.4.0
    url: "http://download.pingcap.org/pushgateway-0.4.0.linux-amd64.tar.gz"
  - name: grafana
    version: 4.6.3
    url: "http://download.pingcap.org/grafana-4.6.3.linux-x64.tar.gz"
  - name: blackbox_exporter
    version: 0.12.0
    url: "http://download.pingcap.org/blackbox_exporter-0.12.0.linux-amd64.tar.gz"


{% if not deploy_without_tidb|default(false) %}
tispark_packages:
  - name: spark-2.4.3-bin-hadoop2.7.tgz
    version: 2.4.3
    url: http://download.pingcap.org/spark-2.4.3-bin-hadoop2.7.tgz
    checksum: "sha256:80a4c564ceff0d9aff82b7df610b1d34e777b45042e21e2d41f3e497bb1fa5d8"
  - name: tispark-core-2.1.8-spark_2.4-jar-with-dependencies.jar
    version: 2.1.8
    url: https://download.pingcap.org/tispark-core-2.1.8-spark_2.4-jar-with-dependencies.jar
  - name: tispark-sample-data.tar.gz
    version: latest
    url: http://download.pingcap.org/tispark-sample-data.tar.gz
{% endif %}
