---

third_party_packages:
  - name: prometheus
    version: 2.8.1
    url: "https://github.com/prometheus/prometheus/releases/download/v2.8.1/prometheus-2.8.1.linux-amd64.tar.gz"
    checksum: "sha256:8acf79c9f1bb79c58df557ff3f4824fd1c1220940d70f63aedf60f2e36b8d8d7"
  - name: alertmanager
    version: 0.17.0
    url: "https://github.com/prometheus/alertmanager/releases/download/v0.17.0/alertmanager-0.17.0.linux-amd64.tar.gz"
    checksum: "sha256:7c8d2cfeb021c80881ae9904d959131091b8785b6fda9800f84ddef148fe0a4f"
  - name: node_exporter
    version: 0.17.0
    url: "https://github.com/prometheus/node_exporter/releases/download/v0.17.0/node_exporter-0.17.0.linux-amd64.tar.gz"
    checksum: "sha256:d2e00d805dbfdc67e7291ce2d2ff151f758dd7401dd993411ff3818d0e231489"
  - name: blackbox_exporter
    version: 0.12.0
    url: "https://github.com/prometheus/blackbox_exporter/releases/download/v0.12.0/blackbox_exporter-0.12.0.linux-amd64.tar.gz"
    checksum: "sha256:c5d8ba7d91101524fa7c3f5e17256d467d44d5e1d243e251fd795e0ab4a83605"
  - name: pushgateway
    version: 0.7.0
    url: "https://github.com/prometheus/pushgateway/releases/download/v0.7.0/pushgateway-0.7.0.linux-amd64.tar.gz"
    checksum: "sha256:902849c94dc275f157899f7fee1b2f23efbd3bbdb6c3a3c42e503f4439f74ed2"
  - name: grafana
    version: 6.1.6
    url: "https://dl.grafana.com/oss/release/grafana-6.1.6.linux-amd64.tar.gz"
    checksum: "sha256:93c81a495e274024d1dd7dcd033033680a6138d7cfd72e2447dd80eaab7ce2b5"


third_party_packages_under_gfw:
  - name: prometheus
    version: 2.8.1
    url: "https://download.pingcap.org/prometheus-2.8.1.linux-amd64.tar.gz"
    checksum: "sha256:8acf79c9f1bb79c58df557ff3f4824fd1c1220940d70f63aedf60f2e36b8d8d7"
  - name: alertmanager
    version: 0.17.0
    url: "http://download.pingcap.org/alertmanager-0.17.0.linux-amd64.tar.gz"
    checksum: "sha256:7c8d2cfeb021c80881ae9904d959131091b8785b6fda9800f84ddef148fe0a4f"
  - name: node_exporter
    version: 0.17.0
    url: "http://download.pingcap.org/node_exporter-0.17.0.linux-amd64.tar.gz"
    checksum: "sha256:d2e00d805dbfdc67e7291ce2d2ff151f758dd7401dd993411ff3818d0e231489"
  - name: pushgateway
    version: 0.7.0
    url: "http://download.pingcap.org/pushgateway-0.7.0.linux-amd64.tar.gz"
    checksum: "sha256:902849c94dc275f157899f7fee1b2f23efbd3bbdb6c3a3c42e503f4439f74ed2"
  - name: grafana
    version: 6.1.6
    url: "https://download.pingcap.org/grafana-6.1.6.linux-amd64.tar.gz"
    checksum: "sha256:93c81a495e274024d1dd7dcd033033680a6138d7cfd72e2447dd80eaab7ce2b5"
  - name: blackbox_exporter
    version: 0.12.0
    url: "http://download.pingcap.org/blackbox_exporter-0.12.0.linux-amd64.tar.gz"
    checksum: "sha256:c5d8ba7d91101524fa7c3f5e17256d467d44d5e1d243e251fd795e0ab4a83605"


{% if not deploy_without_tidb|default(false) %}
tispark_packages:
  - name: spark-2.4.3-bin-hadoop2.7.tgz
    version: 2.4.3
    url: http://download.pingcap.org/spark-2.4.3-bin-hadoop2.7.tgz
    checksum: "sha256:80a4c564ceff0d9aff82b7df610b1d34e777b45042e21e2d41f3e497bb1fa5d8"
  - name: tispark-latest.tar.gz
    version: latest
    url: http://download.pingcap.org/tispark-assembly-latest-linux-amd64.tar.gz
  - name: tispark-sample-data.tar.gz
    version: latest
    url: http://download.pingcap.org/tispark-sample-data.tar.gz
    checksum: "sha256:bd0368a9d8663a4a8de89e39cc4cc1d91c718faf36d4bc7e1f8482c34d5bb8db"
{% endif %}
