---

tidb_packages:
  - name: tidb
    version: {{ tidb_version }}
    url: http://download.pingcap.org/tidb-{{ tidb_version }}-linux-amd64.tar.gz
{% if not deploy_without_tidb|default(false) %}
  - name: tidb-binlog
    version: latest
    url: http://download.pingcap.org/tidb-binlog-latest-linux-amd64.tar.gz
{% endif %}
  - name: tidb-tools
    version: latest
    url: http://download.pingcap.org/tidb-tools-latest-linux-amd64.tar.gz

common_packages:
  - name: fio
    version: 3.8
    url: "http://download.pingcap.org/fio-3.8.tar.gz"
    checksum: "sha256:aea46916db11bb621b48f7691453a30095cf6b8df64ddcec20890a0135369e30"
  - name: grafana_collector
    version: latest
    url: http://download.pingcap.org/grafana_collector-latest-linux-amd64.tar.gz
  - name: kafka_exporter
    version: 1.1.0
    url: http://download.pingcap.org/kafka_exporter-1.1.0.linux-amd64.tar.gz
{% if process_supervision == 'supervise' %}
  - name: daemontools
    version: 0.53
    url: http://download.pingcap.org/daemontools-0.53.tar.gz
    checksum: "sha256:a4abd491cf185aef5644be5a4e1ed52c8f458802178d4c0efcc8178a5ca67fb7"
{% endif %}

diagnosis_packages:
  - name: tidb-insight
    version: v0.2.4
    url: http://download.pingcap.org/tidb-insight-v0.2.4.tar.gz

new_tidb_binlog_packages:
  - name: tidb-pump-client
    version: latest
    url: http://download.pingcap.org/tidb-pump-client-linux-amd64.tar.gz
  - name: tidb-binlog-new
    version: latest
    url: https://download.pingcap.org/tidb-binlog-new-linux-amd64.tar.gz
