---

tidb_images:
  - name: pingcap/tidb
    tag: {{ tidb_version }}
    service: tidb
  - name: pingcap/tikv
    tag: {{ tidb_version }}
    service: tikv
  - name: pingcap/pd
    tag: {{ tidb_version }}
    service: pd
  - name: pingcap/tidb-binlog
{% if tidb_version == 'rc2.2' %}
    tag: rc2.2
{% else %}
    tag: latest
{% endif %}
    service: tidb-binlog
  - name: pingcap/tidb-tools
    tag: latest
    service: tidb-tools


third_party_images:
  - name: prom/prometheus
    tag: v2.2.1
    service: prometheus
  - name: prom/alertmanager
    tag: v0.14.0
    service: alertmanager
  - name: prom/node-exporter
    tag: v0.15.2
    service: node-exporter
  - name: prom/blackbox-exporter
    tag: v0.12.0
    service: blackbox-exporter
  - name: prom/pushgateway
    tag: v0.4.0
    service: pushgateway
  - name: grafana/grafana
    tag: 4.6.3
    service: grafana
