---

# must clear for localhost
ansible_user:
ansible_become: false
ansible_connection: local

tidb_packages:
  - name: tidb
    version: {{ tidb_version }}
    url: http://download.pingcap.org/tidb-{{ tidb_version }}-linux-amd64-unportable.tar.gz
  - name: tidb-binlog
{% if tidb_version == 'rc2.2' %}
    version: rc2.2
    url: http://download.pingcap.org/tidb-binlog-rc2.2-linux-amd64.tar.gz
{% else %}
    version: local
    url: http://download.pingcap.org/tidb-binlog-local-linux-amd64.tar.gz
{% endif %}
  - name: tidb-tools
    version: latest
    url: http://download.pingcap.org/tidb-tools-latest-linux-amd64.tar.gz

tispark_packages:
  - name: spark-2.1.1-bin-hadoop2.7.tgz
    version: 2.1.1
    url: http://download.pingcap.org/spark-2.1.1-bin-hadoop2.7.tgz
  - name: tispark-SNAPSHOT-jar-with-dependencies.jar
    url: http://download.pingcap.org/tispark-0.1.0-SNAPSHOT-jar-with-dependencies.jar
  - name: tispark-sample-data.tar.gz
    version: 0.1.0-beta
    url: http://download.pingcap.org/tispark-sample-data.tar.gz

third_party_packages:
  - name: daemontools
    version: 0.53
    url: http://oifici4co.bkt.gdipper.com/daemontools-0.53.tar.gz
  - name: prometheus
    version: 1.5.2
    url: "https://github.com/prometheus/prometheus/releases/download/v1.5.2/prometheus-1.5.2.linux-amd64.tar.gz"
  - name: alertmanager
    version: 0.5.1
    url: "https://github.com/prometheus/alertmanager/releases/download/v0.5.1/alertmanager-0.5.1.linux-amd64.tar.gz"
  - name: node_exporter
    version: 0.14.0
    url: "https://github.com/prometheus/node_exporter/releases/download/v0.14.0-rc.2/node_exporter-0.14.0-rc.2.linux-amd64.tar.gz"
  - name: pushgateway
    version: 0.3.1
    url: "https://github.com/prometheus/pushgateway/releases/download/v0.3.1/pushgateway-0.3.1.linux-amd64.tar.gz"
  - name: grafana
    version: 4.1.2
    url: "https://grafanarel.s3.amazonaws.com/builds/grafana-4.1.2-1486989747.linux-x64.tar.gz"
  - name: fio
    version: 2.16
    url: "https://download.pingcap.org/fio-2.16.tar.gz"

# Following Packages. once downloaded, saved forever
package_urls:
  - { name: daemontools-0.53,     url: "http://oifici4co.bkt.gdipper.com/daemontools-0.53.tar.gz" }
  - { name: prometheus-1.5.2,     url: "https://github.com/prometheus/prometheus/releases/download/v1.5.2/prometheus-1.5.2.linux-amd64.tar.gz" }
  - { name: alertmanager-0.5.1,   url: "https://github.com/prometheus/alertmanager/releases/download/v0.5.1/alertmanager-0.5.1.linux-amd64.tar.gz" }
  - { name: node_exporter-0.14.0, url: "https://github.com/prometheus/node_exporter/releases/download/v0.14.0-rc.1/node_exporter-0.14.0-rc.1.linux-amd64.tar.gz" }
  - { name: pushgateway-0.3.1,    url: "https://github.com/prometheus/pushgateway/releases/download/v0.3.1/pushgateway-0.3.1.linux-amd64.tar.gz" }
  - { name: grafana-4.1.2,        url: "https://grafanarel.s3.amazonaws.com/builds/grafana-4.1.2-1486989747.linux-x64.tar.gz" }
  - { name: fio-2.16,             url: "https://download.pingcap.org/fio-2.16.tar.gz" }

package_urls_under_gfw:
  - name: daemontools-0.53
    url: "http://download.pingcap.org/daemontools-0.53.tar.gz"
  - name: prometheus-1.5.2
    url: "http://download.pingcap.org/prometheus-1.5.2.linux-amd64.tar.gz"
  - name: alertmanager-0.5.1
    url: "http://download.pingcap.org/alertmanager-0.5.1.linux-amd64.tar.gz"
  - name: node_exporter-0.14.0
    url: "http://download.pingcap.org/node_exporter-0.14.0-rc.1.linux-amd64.tar.gz"
  - name: pushgateway-0.3.1
    url: "http://download.pingcap.org/pushgateway-0.3.1.linux-amd64.tar.gz"
  - name: grafana-4.1.2
    url: "http://download.pingcap.org/grafana-4.1.2-1486989747.linux-x64.tar.gz"
  - name: fio-2.16
    url: "https://download.pingcap.org/fio-2.16.tar.gz"


